/*fonts*/
@font-face { font-family: primary-light; src: url('/public/assets/fonts/MPLUS1/MPLUS1-Thin.ttf') }
@font-face { font-family: primary-normal; src: url('/public/assets/fonts/MPLUS1/MPLUS1-Light.ttf') }
@font-face { font-family: primary-bold; src: url('/public/assets/fonts/MPLUS1/MPLUS1-Bold.ttf') }
@font-face { font-family: primary-semibold; src: url('/public/assets/fonts/MPLUS1/MPLUS1-SemiBold.ttf') }
